<div class="container">
  <div class="row">
    <h1>
      {{appName | async}}
    </h1>
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input class="form-control" type="text" #serverName>
      <hr>
      <button class="btn btn-primary" (click)="onAddServer(serverName.value)">Add Server</button>
      <hr>
      <button class="btn btn-default" (click)="onSave()">Save Data</button>
      <hr>

      <ul class="list-group" *ngFor="let server of servers">
        <li class="list-group-item">{{ server.name }} (ID: {{ server.id }})</li>
      </ul>
    </div>
  </div>
</div>
