<nav class="bannerContainer navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <div class="row col-sm-12">
    <div class="col-sm-2">
      <h1 class="logo">
        <a href="">
            <span  class="logo-part-1">M</span>
            <span  class="logo-part-2">Now</span>
        </a>
      </h1>
    </div>
    <div class="col-sm-4">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/movies" routerLinkActive="active-link">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/theaters" routerLinkActive="active-link">Theaters</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <input class="form-control" type="text" placeholder="Search">
    </div>
  </div>
</nav>