<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userdata"> 
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control">
             <span class="help-block" 
              *ngIf="!signUpForm.get('userdata.username').valid && signUpForm.get('userdata.username').touched">
              <span *ngIf="signUpForm.get('userdata.username').errors['required']">Please enter a valid username!</span>
              <span *ngIf="signUpForm.get('userdata.username').errors['nameIsForbidden']">This Username is already taken!</span>
            </span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control">
              <span class="help-block" 
                *ngIf="!signUpForm.get('userdata.email').valid && signUpForm.get('userdata.email').touched">
                <span *ngIf="signUpForm.get('userdata.email').errors['required']">Please enter a valid emial!</span>
              </span>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName='gender'
              [value]="gender">{{ gender }}
          </label>
          <span class="help-block"
            *ngIf="!signUpForm.get('gender').valid && signUpForm.get('gender').touched">
            Please select a gender!
          </span>
        </div>
        <div class="form-group" formArrayName='hobbies'>
          <h4>Your Hobbies</h4>
          <button class="btn btn-default" type="button" (click)="onAddHobby()">Add Hobby</button>
          <div class="form-group" *ngFor="let hobby of signUpForm.get('hobbies').controls; let i = index">
            <input type="text" class="form-control"  [formControlName]="i" />
          </div>
        </div>
        <button class="btn btn-primary" 
          type="submit">Submit</button>
      </form> -->


      <form [formGroup]="projectForm">
        <div class="form-group">
          <label for="name">Project Name: </label>
          <input class="form-control" type="text" name="name" id="name" formControlName="name" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="text" name="email" id="email" formControlName="email" />
        </div>
        <div class="form-group">
          <label for="status">Project Status: </label>
          <select  class="form-control" name="status" id="status" formControlName="status" >
            <option value="Stable">Stable</option>
            <option value="Critical">Critical</option>
            <option value="Finished">Finished</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Submit</button>
          <button class="btn btn-danger">Reset</button>
        </div>
      </form>

    </div>
  </div>
</div>
